{% extends "classifier/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock styles %}

{% block content %}
    <main>
        <section class="header">
            <a href="{% url 'home' %}"><i class="fa fa-arrow-left"></i></a>
            <div class="title">
                <h2>Stroke Classification</h2>
                <p>Input values for stroke prediction.</p>
            </div>
            <a href="{% url 'home' %}"><i class="fa fa-times"></i></a>
        </section>
        <section class="sectioning">
            <div>
                <span>Classify</span>
                <span>Data Library</span>
            </div>
        </section>
        <section class="classification">
            <div id="input-section">
                <h3>Classify your stroke</h3>
                <form action="{% url 'predict' %}" method="post">
                    {% csrf_token %}
                    
                    <div class='field-set'>
                        <div class="input-field">
                            <label for="age">{{ form.age.label }}</label>
                            {{ form.age }}
                        </div>
                        <div class="input-field">
                            <label for="gender">{{ form.gender.label }}</label>
                            {{ form.gender }}
                        </div>
                        <div class="input-field">
                            <label for="hypertension">{{ form.hypertension.label }}</label>
                            {{ form.hypertension }}
                        </div>
                        <div class="input-field">
                            <label for="heart_disease">{{ form.heart_disease.label }}</label>
                            {{ form.heart_disease }}
                        </div>
                        <div class="input-field">
                            <label for="ever_married">{{ form.ever_married.label }}</label>
                            {{ form.ever_married }}
                        </div>
                    </div>
                    
                    <div class='field-set'>
                        <div class="input-field">
                            <label for="work_type">{{ form.work_type.label }}</label>
                            {{ form.work_type }}
                        </div>
                        <div class="input-field">
                            <label for="residence_type">{{ form.residence_type.label }}</label>
                            {{ form.residence_type }}
                        </div>
                        <div class="input-field">
                            <label for="avg_glucose_level">{{ form.avg_glucose_level.label }}</label>
                            {{ form.avg_glucose_level }}
                        </div>
                        <div class="input-field">
                            <label for="bmi">{{ form.bmi.label }}</label>
                            {{ form.bmi }}
                        </div>
                        <div class="input-field">
                            <label for="smoking_status">{{ form.smoking_status.label }}</label>
                            {{ form.smoking_status }}
                        </div>
                </div>
                    
                    <button type="submit" id="submit-button">Classify</button>
                </form>
            </div>
            <div id="output-section">
                <table>
                    <caption>Classification Results</caption>
                    <thead>
                        <tr>
                            <th scope="col">Class</th>
                            <th scope="col">Confidence</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if predictions %}
                            {% for class, prediction in predictions %}
                                <tr>
                                    <td>{{ class }}</td>
                                    <td>{{ prediction }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock content %}